.root {
  display: flex;
  align-items: center;
}

.gameCont {
  position: relative;
  width: 700px;
  height: 700px;
  border-radius: 36px;
  overflow: hidden;
}

.canvas {
  position: absolute;
}

.background {
  z-index: 0;
}

.game {
  z-index: 1;
}

.ui {
  z-index: 2;
}

.settingsTable {
  padding-left: 25px;
}
